{%extends "testBundle:Default:source.html.twig"%}
{%block body%}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{url('login_homepage')}}" style="font-family: Stalemate-Regular;font-size: 25px">
          CSE Friends</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{{home}}">
            <a href="{{url('login_homepage')}}">Home 
                <span class="sr-only">current page</span>
            </a>
        </li>
        <li class="{{user}}">
            <a href="{{url('profile')}}">{{name}}</a>
        </li>
        
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{url('logout')}}">Logout</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{%block postcontent%}
{%endblock%}
{%block content%}
<div class="container wall" align="center">
    <div class="jumbotron" align="center">
        <form method="post" role="post" action="{{url('post')}}">
            <div class="form-group">
              <textarea id="inpt-post" name="post" type="text" class="form-control" placeholder="Write new post"></textarea>
            </div>
            <input class="btn btn-primary btn-md button-style buttons" type="Submit" value="Post">
        </form>
    </div>

</div>

    {%for post in posts|reverse%}
    <div class="container wall" align="left">
        
        <div class="panel panel-default post-panel">
            <div class="panel-heading header-trans">
              <h3 class="panel-title">{{username[posts|length-loop.index]}}

                  <a href="{{url('postpage',{'postid':post.getPostid()})}}" class="btn btn-primary btn-xs buttons post-comment">Comment</a>
                  <a href="{{url('like',{'postid':post.getPostid()})}}" class="btn btn-primary btn-xs buttons post-like">Like</a>
                  <div class="likes">{{likes[posts|length-loop.index]}} Likes</div>
              </h3>

            </div>
            <div class="panel-body">
              {{post.getPostcontent()}}
            </div>
        </div>
        
    </div>
    {%endfor%}
{%endblock%}
{%endblock%}
